@page "/"
    @rendermode InteractiveServer

    <link rel="stylesheet" href="css/home.css">
<PageTitle>Home</PageTitle>


<section class="containerHome">



        
  

    <section class="containerHome">

       
            
      
        <div>
   
<h1>CLICKS: @click</h1>
<h1>NAME: @name</h1>

    <button type="button" @onclick="ChangeName">CHANGE NAME</button> 
</div>

  


  
    <div>

    <button type="button" @onclick="changeCss">INITIALIZE LOOP</button> 

   @for(int x= 0; x<=10; x++) {

        <div class="h1Loop" style="@value; @value2; @value3">
<h1 class="h1Text" style="@value4; @value5">result: @result * @x</h1>
</div>

} 



</div>
 





 

</section>

  </section>





@code {

    private string name ="Aloi";
    private int click = 0;
        private int click2 = 0;
    private int y = 0;

    private string value = "";
    private string value2 = "";
        private string value3 = "";

              private string value4 = "";
                      private string value5 = "";
    private int result = 2;



    private void changeCss() {
        click2 ++;
           value4 = "opacity: 1; transition: 1s";
           value2 = "transition: 1s";
        value = "visibility: visible";
          
       value3 = "height: 8%";


        if(click2 == 2) {
            click2 = 0;
   value4 = "opacity: 0";
   value5 = "transition: 0.5s";

             value2 = "transition: 1s";
       value3 = "height: 0%";
            value = "visibility: hidden";
        }

    }

    
    private void ChangeName() {
        click ++;
        name = "Franzie";

        if(click == 1) {
          
            name ="Franzie";

        } else if(click == 2) {
            click = 0;
            name ="Aloi";

        }
    }

}
